<div class='card col-6 col-md-4'>
  <img src={{image}} class='card-img-top' alt={{description}} />
  <div class='card-body'>
    <h5 class='card-title'>{{title}}</h5>
    <p class='card-text'>{{content}}</p>

    <p class='card-text'>{{publishedAt}}</p>

    <a href={{source.url}} class='btn btn-primary'>{{source.name}}</a>
  </div>
</div>
